<div class="navbar">
  <%= image_tag("logo.png", alt: "Logo", class: "avatar") %>

  <h1>Kévin Rossi</h1>

    <ul>
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "A propos", root_path %></li>
      <li><%= link_to "Compétences", root_path %></li>
      <li><%= link_to "Réalisations", root_path %></li>
      <li><%= link_to "Contact", root_path %></li>
    </ul>
</div>
