<div class="navbar">
  <%= image_tag("logo.png", alt: "Logo", class: "avatar") %>
    <ul class="dropdown-content">
      <li><%= link_to 'Accueil', '#' %></li>
      <li><%= link_to 'A propos', '#about_section' %></li>
      <li><%= link_to 'Compétences', '#presentation_section' %></li>
      <li><%= link_to 'Réalisations', '#projects_section' %></li>
      <li><%= link_to 'Contact', '#contact_section' %></li>
    </ul>
</div>
