<div class="navbar">
  <%= image_tag("avatar.jpeg", alt: "Logo", class: "avatar") %>
    <ul class="dropdown-content">
      <li><%= link_to 'Qui suis-je ?', '#about_section' %></li>
      <li><%= link_to 'Mon CV', '#presentation_section' %></li>
      <li><%= link_to 'Contact', '#contact_section' %></li>
      <li><%= link_to 'Projets', '#projects_section' %></li>
    </ul>
</div>
