<div class="main-container">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/Banner.png);">
<h1>Kévin ROSSI</h1>
<h2>Développeur Fullstack Ruby on Rails</h2>
</div>

  <div class="card-about" id='about_section'>
    <h2>À propos de moi</h2>
    <div class="presentation">
      <div class="paragraph">
        <p>Je m'appelle Kévin Rossi, je suis développeur web full-stack.</p>
        <p><strong>Ingénieur mécatronique</strong> de formation, j'ai passé 3 ans et demi dans la <strong>Drôme</strong> à <strong>concevoir</strong>, <strong>construire</strong>, <strong>programmer</strong> et <strong>mettre en service</strong> des robots de contrôle non-destructif pour les centrales nucléaires.
        Bien que cela me plaisait, j'ai voulu découvrir une autre partie du monde, la Chine.</p>
        <p>Après 2 mois et demi de formation en <strong>France</strong> et en <strong>Tchéquie</strong>, je suis parti 4 mois en <strong>Chine</strong> en tant qu'<strong>ingénieur méthodes automatisme</strong> début 2024.
        Mais il me manquait cette partie de programmation qui était très présente lors de mon premier travail.</p>
        <p class="last-parag">C'est pourquoi j'ai décidé de me tourner vers le <strong>Dévelopmment Web</strong> pour me reconvertir, notamment avec <strong>Ruby on Rails</strong> et en suivant le bootcamp chez <strong>Le Wagon Lyon</strong>.</p>
      </div>
      <%= image_tag "photo_profile.jpg", alt: "Photo profil", class: "photo" %>
    </div>
  </div>

  <div class="card-about" id='presentation_section'>
    <h2>Compétences</h2>
    <div class="presentation">
      <div class="cv">
        <%= image_tag "CV.jpg", alt: "CV", id: "cv" %>
        <%= link_to 'Télécharger le CV', download_path, download: 'CV_Kévin_Rossi_FR.pdf', class:"btn" %>
      </div>
      <div class="assets">

        <h3>Développement Web</h3>
          <p><strong>Backend :</strong>  Ruby on Rails</p>
          <p><strong>Frontend :</strong> HTML / CSS / Stimulus.js</p>
          <p><strong>DB :</strong> PostgreSQL / SQLite</p>

        <h3>Atouts</h3>
          <p><strong>Gestion du temps : </strong>Organisé</p>
          <p><strong>Autonome : </strong> Avec esprit d'équipe</p>
          <p><strong>Curieux :</strong> Prêt à apprendre</p>

        <h3>Pourquoi moi ?</h3>
        <p>Mes expériences professionnelles m'ont apprises beaucoup tant sur le <strong>suivi de projet</strong> avec des <strong>deadlines</strong> serrées que sur
        la <strong>programmation</strong> lors de mon passage dans le nucléaire.</p>
        <p class="last-parag">Elles ont fait de moi quelqu'un de <strong>polyvalent</strong> et <strong>qui s'adapte rapidement</strong> à un environnement.</p>
      </div>
    </div>
  </div>

  <div data-controller="carousel" class="card-about" id="projects_section">
    <h2>Réalisations</h2>
    <div class="carousel-container">
      <button data-action="click->carousel#previous" class="carousel-control prev-control">&lt;</button>
      <div data-carousel-target="item" class="carousel-item prev horizontal" id="portfolio">
        <%= image_tag "carousel/portfolio.png", alt: "Previous Image" %>
      </div>
      <div data-carousel-target="item" class="carousel-item active" id="bestunited">
        <%= image_tag "carousel/bestunited1.jpg", alt: "Current Image" %>
      </div>
      <div data-carousel-target="item" class="carousel-item next horizontal" id="datefaker">
        <%= image_tag "carousel/datefaker1.png", alt: "Next Image" %>
      </div>
      <button data-action="click->carousel#next" class="carousel-control next-control">&gt;</button>
    </div>
    <div class="description" data-carousel-target="description">
    </div>
  </div>

  <div class="card-about" id="contact_section">
    <h2>Contact</h2>
    <div class="form">
      <%= simple_form_for :contact, url: contacts_path, method: :post do |f| %>
        <div class="form-pair">
          <div class="form-group">
            <%= f.input :first_name, label: "Prénom", required: true %>
          </div>
          <div class="form-group">
            <%= f.input :last_name, label: "Nom",  required: true %>
          </div>
        </div>
        <div class="form-pair">
          <div class="form-group">
            <%= f.input :email, label: "Email", required: true %>
          </div>
          <div class="form-group">
            <%= f.input :phone, label: "Téléphone", required: false %>
          </div>
        </div>
        <div class="form-group">
          <%= f.input :title, label: "Objet", required: true %>
        </div>
        <div class="form-group">
          <%= f.input :message, as: :text, label: "Message", placeholder: "Écrivez votre message ici...", required: true %>
        </div>
        <div class="form-group-btn">
          <%= f.button :submit, "Envoyer", class: "btn" %>
        </div>
      <% end %>
    </div>
    </div>
    <div class="links-social">
    <h3>Liens réseaux</h3>
      <ul>
        <div class="logo-social">
          <%= link_to "https://github.com/KevRo69" do %>
            <li><i class="fa-brands fa-square-github fa-2xl"></i></li>
          <% end %>
        </div>
        <div class="logo-social">
          <%= link_to "https://www.linkedin.com/in/k%C3%A9vin-rossi-539a72150/" do %>
            <li><i class="fa-brands fa-linkedin fa-2xl"></i></li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
