<div class="main-container">

<div class="banner">
  <h1>Kévin ROSSI</h1>
  <h2>Développeur Fullstack </h2>
  <h2>Ruby on Rails</h2>
</div>

  <div class="card-about" id='about_section'>
    <h2>Qui suis-je ?</h2>
    <div class="presentation">
      <div class="paragraph">
        <p>Je m'appelle Kévin Rossi, je suis développeur web full-stack.</p>
        <p><strong>Ingénieur mécatronique</strong> de formation, j'ai passé 3 ans et demi dans la Drôme à <strong>concevoir</strong>, construire, <strong>programmer</strong> et mettre en service des robots de contrôle non-destructif pour les centrales nucléaires.
        Bien que cela me plaisait, j'ai voulu découvrir une autre partie du monde, la Chine.</p>
        <p>Après 2 mois et demi de formation en <strong>France</strong> et en <strong>Tchéquie</strong>, je suis parti 4 mois en <strong>Chine</strong> en tant qu'ingénieur méthodes automatisme début 2024.
        Mais il me manquait cette partie de programmation qui était très présente lors de mon premier travail.</p>
        <p class="last-parag">C'est pourquoi j'ai décidé de me tourner vers le <strong>Développement Web</strong> pour me reconvertir en suivant le bootcamp chez <strong>Le Wagon Lyon</strong>.</p>
      </div>
      <%= image_tag "photo_profile.jpg", alt: "Photo profil", class: "photo" %>
    </div>
  </div>

  <div class="banner-between">
    <h2>Un nouveau talent pour votre entreprise ?</h2>
    <p>Si vous avez besoin d’un développeur fullstack <strong>polyvalent</strong> pour des projets à <strong>deadlines serrées</strong>.</p>
    <p class="last-parag">Je suis le candidat qu'il vous faut, <strong>n'attendez pas</strong> pour me contacter !</p>
  </div>

  <div class="card-about" id='presentation_section'>
    <h2>Compétences</h2>
    <div class="skills">
      <div class="assets">
        <div class="column-skill">
          <h3>Développement Web</h3>
          <ul>
            <li><i class="fa-solid fa-code"></i> Ruby on Rails</li>
            <li><i class="fa-solid fa-wand-magic-sparkles"></i> HTML, CSS, Bootstrap</li>
            <li><i class="fa-brands fa-js"></i> JavaScript, Stimulus</li>
            <li><i class="fa-solid fa-database"></i> PostgreSQL, SQLite</li>
            <li><i class="fa-solid fa-gear"></i> ActiveRecord, ActiveStorage</li>
          </ul>
        </div>
        <div class="column-skill">
          <h3>Outils & logiciels</h3>
          <ul>
            <li><i class="fa-brands fa-git-alt"></i> Git, GitHub</li>
            <li><i class="fa-solid fa-globe"></i> Heroku</li>
            <li><i class="fa-brands fa-figma"></i> Figma</li>
            <li><i class="fa-solid fa-list-check"></i> Trello, GanttProject</li>
            <li><i class="fa-solid fa-comment"></i> Slack, Teams</li>
          </ul>
        </div>
      </div>
      <%= link_to 'Télécharger le CV', download_path, download: 'CV_Kévin_Rossi_FR.pdf', class:"btn" %>
    </div>
  </div>

  <div class="card-about" id="contact_section">
    <h2>Contactez-moi</h2>
    <div class="form">
      <%= simple_form_for :contact, url: contacts_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.input :name, label: "Nom", required: true %>
          </div>
          <div class="form-group">
            <%= f.input :email, label: "Email", required: true %>
          </div>
        <div class="form-group">
          <%= f.input :message, as: :text, label: "Message", placeholder: "Écrivez votre message ici...", required: true %>
        </div>
        <div class="form-group-btn">
          <%= f.button :submit, "Envoyer", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="banner-between">
      <h2>Mes atouts</h2>
      <p><strong>Curieux, touche-à-tout et déterminé</strong>, je suis une personne impliquée dans chaque projet que j'entreprends.</p>
      <p>Toujours prêt à apprendre de nouvelles choses, le défi ne m'effraie pas, il me motive.</p>
      <p><em>"Tout obstacle renforce la détermination. Celui qui s'est fixé un but n'en change pas." Léonard De Vinci</em></p>
    </div>

  <%= render "pages/carousel" %>

  </div>
</div>
