<div class="main-container">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
</div>

  <div class="card-about" id='about_section'>
    <h2>À propos de moi</h2>
    <div class="presentation">
      <div class="paragraph">
        <p>Je m'appelle Kévin Rossi, je suis développeur web full-stack. J'ai réalisé ce site avec Ruby on Rails.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dignissimos totam nostrum et culpa rem nesciunt autem, velit consectetur dicta ex qui blanditiis amet provident consequuntur, neque odit. Magnam, cum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dignissimos totam nostrum et culpa rem nesciunt autem, velit consectetur dicta ex qui blanditiis amet provident consequuntur, neque odit. Magnam, cum!</p>
      </div>
      <%= image_tag "photo_profile.jpg", alt: "Photo profil", class: "photo" %>
    </div>
  </div>

  <div class="card-about" id='presentation_section'>
    <h2>Compétences</h2>
    <div class="presentation">
      <div class="cv">
        <%= image_tag "CV.jpg", alt: "CV", id: "cv" %>
        <%= link_to 'Télécharger le CV', download_path, download: 'CV_Kévin_Rossi_FR.pdf' %>
      </div>
      <div class="assets">
        <h3>Atouts</h3>
          <p>Lorem ipsum dolor sit amet!</p>
          <p>Lorem ipsum dolor sit amet!</p>
          <p>Lorem ipsum dolor sit amet!</p>

        <h3>Développement Web</h3>
          <p>Ruby on Rails</p>
          <p>HTML/CSS/Javascript</p>
          <p>PostgreSQL</p>

        <h3>Pourquoi moi ?</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing ept. Exercitationem sint, quidem dolore deleniti officiis veniam quasi ratione officia excepturi voluptates sit sequi quaerat nulla distinctio ipsa nihil quam voluptate impedit.</p>
      </div>
    </div>
  </div>

  <div class="card-about" id="projects_section">
    <h2>Réalisations</h2>
    <div class="caroussel">
      <%= image_tag "photo_profile.jpg", alt: "Caroussel", id: "caroussel" %>
    </div>
    <div class="description">
      <h3>Best United</h3>
        <p>Plateforme de vente de sneakers pour encourager le commerce local.</p>
        <p>Gestion des stocks pour les commerçants.</p>
        <p>Août 2024</p>
    </div>
  </div>

  <div class="card-about" id="contact_section">
    <h2>Contact</h2>
    <div class="form">
      <%= simple_form_for :contact, url: contacts_path, method: :post do |f| %>
        <div class="form-pair">
          <div class="form-group">
            <%= f.input :first_name, label: "Prénom", required: true %>
          </div>
          <div class="form-group">
            <%= f.input :last_name, label: "Nom", required: true %>
          </div>
        </div>
        <div class="form-pair">
          <div class="form-group">
            <%= f.input :email, label: "Email", required: true %>
          </div>
          <div class="form-group">
            <%= f.input :phone, label: "Téléphone", required: false %>
          </div>
        </div>
        <div class="form-group">
          <%= f.input :title, label: "Objet", required: true %>
        </div>
        <div class="form-group">
          <%= f.input :message, as: :text, label: "Message", required: true %>
        </div>
        <div class="form-group">
          <%= f.button :submit, "Envoyer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    </div>
    <div class="links-social">
      <ul>
        <div class="logo-social">
          <%= link_to "https://github.com/KevRo69" do %>
            <li><i class="fa-brands fa-square-github fa-2xl"></i></li>
          <% end %>
        </div>
        <div class="logo-social">
          <%= link_to "https://www.linkedin.com/in/k%C3%A9vin-rossi-539a72150/" do %>
            <li><i class="fa-brands fa-linkedin fa-2xl"></i></li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</div>
